* {
  background: transparent;
}

#window {
  padding: 10px;
  border: 2px solid #728c69;
  border-radius: 14px;
  background: #282828;
}

#input {
  margin: auto;
  margin-bottom: 20px;
  border: none;
  color: #ebdbb2;
  background-color: #1d2021;
}

#outer-box {
  padding: 20px;
}

#text {
  margin: 5px;
  color: #ebdbb2;
}

#img {
  margin-right: 6px;
}

#entry:selected {
  background-color: #1d2021;
}
